/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Root */
:root {
  --branco: #FFFFFF;
  --laranja: #FF8800;
  --amarelo: #FFD23F;
  --verde: #75C200;
  --verde-escuro: #003315;
  --turquesa: #005054;
  --azul: #00BAD6;
  --azul-escuro: #1B1464;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--verde-escuro);
}

/* Wrapper principal */
main {
  padding: 40px 10;
}

/*-----------------------------------------------------------------------------------*/

/* Primeira seção do site*/

img.img-gustavo {
    float: left;
    margin-right: 20px;
    max-width: 100%;
    height: auto;
}

.sobre {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    background-color: var(--verde-escuro);
    padding: 10px 10%;
    align-items: center;
}

article{
    padding-left: center;
}

h1 {
    text-align: center;
    color: var(--amarelo);
    font-size: 40px;
    background-color: var(--verde-escuro);
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    padding: 10px 10%;
    text-transform: uppercase;
}
article p {
    text-align: center;
}
h2 {
    margin: 0px;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    padding: 10px 10%;
    
}

.sobre h2 {

    flex: 10;
    color: var(--branco);
    font-size: 30px;
    padding: 10px 0;
}

.sobre p {
    flex: 1;
    color: var(--branco);
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    text-align: justify;
    font-family: 'roboto', sans-serif;
    padding: 10px 0;
}
.barra-colorida {
    background-color: var(--verde-escuro);
    width: 100%;
    padding: 10px 10%;
}

section {
    padding: 20px 20px;
    margin: 70px;
}
div img.img-gustavo {
     width: 20%;
    height: auto;
    min-width: 200px;
}

.conteudo p {
    padding: 5px 0;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
}

.conteudo a {
    margin: 0px;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    /* text-decoration: none; */
    /* font-weight: bold; */
    color: var(--laranja);
    transition: all 0.5s ease;
}
.conteudo   a:hover {
    background-color: var(--turquesa);
    color: var(--amarelo);
    
  }

/* Media query para telas menores */
@media (max-width: 1400px) {
    .sobre {
        flex-direction: column;
        gap: 20px;
        padding: 20px 80px;
    }

    h1 {
        font-size: 32px;
        padding: 10px 0;
        text-align: center;
    }

    .sobre h2 {
        font-size: 1.5em;
    }

    .sobre p {
        font-size: 16px;
        line-height: 28px;
    }

    .sobre img {
        width: 100%;
        height: auto;
    }

    .barra-colorida {
        padding: 10px 5%;
    }
}


@media (max-width: 768px) {
    .sobre {
        flex-direction: column;
        gap: 20px;
        padding: 20px 45px;
    }

    h1 {
        font-size: 32px;
        text-align: center;
    }

    .sobre h2 {
        font-size: 1.5em;
        padding: 5px 0;
    }

    .sobre p {
        font-size: 14px;
        line-height: 28px;
    }

    .sobre img {
        width: 100%;
        height: auto;
    }

    .barra-colorida {
        padding: 10px 10%;
    }

    section {
        margin: 0;
    }
}
/*-----------------------------------------------------------------------------------*/
/* Footer/Rodapé */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: var(--verde-escuro);
    color: var(--branco);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

@media (max-width: 576px) {
    footer {
        font-size: 14px;
        position: static;
    }
}