/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Root */
:root {
  --branco: #FFFFFF;
  --laranja: #FF8800;
  --amarelo: #FFD23F;
  --verde: #75C200;
  --verde-escuro: #003315;
  --turquesa: #005054;
  --azul: #00BAD6;
  --azul-escuro: #1B1464;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--verde-escuro);
}

/* Wrapper principal */
main {
    max-width: 1200px;
    padding: 45px;
    margin: 0 auto 20px;
}

/*-----------------------------------------------------------------------------------*/

/* Primeira seção do site*/

img.img-gustavo {
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;
    max-width: 100%;
    height: auto;
}

.sobre, h1 {
    margin-bottom: 20px;
}

.sobre {
    text-align: center;
}

article{
    padding-left: center;
}

h1 {
    text-align: center;
    color: var(--verde-escuro);
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

article p {
    text-align: center;
}

h2 {
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px
}

.sobre h2 {

    flex: 10;
    color: var(--branco);
    font-size: 30px;
    padding: 10px 0;
}

.sobre p {
    flex: 1;
    color: var(--branco);
    font-size: 18px;
    font-weight: normal;
    text-align: justify;
    font-family: 'roboto', sans-serif;
    padding: 10px 0;
}
.barra-colorida {
    background-color: var(--verde-escuro);
    width: 100%;
    padding: 10px 10%;
}

section {
    width: 100%;
}

div img.img-gustavo {
    width: 20%;
    height: auto;
    min-width: 200px;
    padding: 10px;
}

.conteudo p {
    padding: 5px 0;
    font-size: 18px;
    text-align: justify;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
}

.conteudo a {
    margin: 0px;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: var(--laranja);
    transition: all 0.5s ease;
}

.conteudo   a:hover {
    /* background-color: var(--turquesa); */
    color: var(--azul);
    
  }

/* Media query para telas menores */
@media (max-width: 1400px) {
    h1 {
        font-size: 32px;
    }

    .sobre h2 {
        font-size: 1.5em;
    }

    .sobre p {
        line-height: 28px;
    }

    .barra-colorida {
        padding: 10px 5%;
    }
}


@media (max-width: 768px) {
    main {
        margin-bottom: 0;
    }
    img.img-gustavo {
        margin-right: 25px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
        padding: 0;
        margin-bottom: 30px;
    }
    
}
/*-----------------------------------------------------------------------------------*/
/* Footer/Rodapé */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: var(--verde-escuro);
    color: var(--branco);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

@media (max-width: 576px) {
    footer {
        font-size: 16px;
        position: static;
    }
}