/* Root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

:root {
    --branco: #FFFFFF;
    --laranja: #FF8800;
    --amarelo: #FFD23F;
    --verde: #75C200;
    --verde-escuro: #003315;
    --turquesa: #005054;
    --azul: #00BAD6;
    --azul-escuro: #1B1464;
  }

/*-----------------------------------------------------------------------------------*/
/* Header */
header {
    background-color: var(--verde-escuro);
    text-align: center;
}

/* Menu de navegação */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
    background-color: var(--verde-escuro);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

    img {
        height: 50px;
    }

nav a {
    padding: 20px;
    color: var(--branco);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    transition: all 0.5s ease;
  }

nav a:hover {
    background-color: var(--turquesa);
    color: var(--amarelo);
  }

/* Media query NAV */
@media (max-width: 1400px) {
    nav {
      justify-content: center;
      padding: 30px 0;
      gap: 20px;
      
      a {
        font-size: 16px;
        padding: 10px;
      }
      img {
        height: 30px;
      }

    }
}

@media (max-width: 1050px) {
    nav {
        justify-content: center;
        padding: 15px 0;
        gap: 10px;
    }

    nav a {
        font-size: 16px;
        padding: 10px;
    }

    nav img {
        height: 20px;
    }
}

@media (max-width: 768px) {
    nav {
      flex-direction: column;
      padding: 10px 5px;
      gap: 0;
  
      a {
        font-size: 16px;
        padding: 10px;
      }

      img {
        height: 20px;
      }

    }
}

/*-------------------------------------------------------*/

/*Seção do site*/
main{
   
    height:max-content;
    position: relative;
    background-color: var(--verde-escuro);      
}

#titulo{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--amarelo);
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-size: 40px;

}

#subtitulo{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:var(--branco);
}

.conteudo details summary{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
   
}



#perguntas{
    color: var(--verde-escuro);
    height: 60px;
    display: flex;
    background-color: whitesmoke;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    
}

#respostas{
    font-family:'Roboto', sans-serif;
    color: var(--azul-escuro);
    background-color: rgba(248, 248, 248, 0.6);
    font-size: 20px;
    text-align: justify;
    margin-left: 250px;
    margin-right: 250px;
    padding: 20px;
    border-radius: 10px;
    
}

footer {
    position:static;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: var(--verde-escuro);
    color: var(--branco);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

/* MediaS query para telas menores */

/*-------- PRIMEIRO TAMANHO DE TELA-----------*/

@media (max-width: 1400px) {
   
    #titulo {
        font-size: 30px;
    }
    #subtitulo {
        font-size: 15px;
    }
    #perguntas {
        text-align: center;
        font-size: 20px;
        margin-left: 300px;
        margin-right: 300px;
        height: 70px;
    }
    #respostas {
        font-size: 15px;
        margin-left: 300px;
        margin-right: 300px;
      

    }

}

/*-------- SEGUNDO TAMANHO DE TELA-----------*/

@media (max-width: 1050px) {

    #titulo {
        font-size: 25px;
    }
    #subtitulo {
        font-size: 12px;
    }
    #perguntas {
        text-align: center;
        font-size: 15px;
        margin-left: 150px;
        margin-right: 150px;
        height: 40px;
    }
    #respostas {
        font-size: 12px;
        margin-left: 150px;
        margin-right: 150px;
       
    }

}

/*-------- TERCEIRO TAMANHO DE TELA-----------*/

@media (max-width: 768px) {

    #titulo {
        font-size: 25px;
    }
    #subtitulo {
        font-size: 12px;
    }
    #perguntas {
        text-align: center;
        font-size: 15px;
        margin-left: 150px;
        margin-right: 150px;
        height: 50px;
        
    }
    #respostas {
        font-size: 12px;
        margin-left: 150px;
        margin-right: 150px;
       
    }

}

/*-------- QUARTO TAMANHO DE TELA-----------*/

@media (max-width: 600px) {

    #titulo {
        font-size: 20px;
    }
    #subtitulo {
        font-size: 12px;
    }
    #perguntas {
        text-align: center;
        font-size: 12px;
        margin-left: 50px;
        margin-right: 50px;
        height: 50px;
    }
    #respostas {
        font-size: 10px;
        margin-left: 50px;
        margin-right: 50px;
       
    }

}

