/* Root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

body {
    background-color: var(--verde-escuro);
}

:root {
    --branco: #FFFFFF;
    --laranja: #FF8800;
    --amarelo: #FFD23F;
    --verde: #75C200;
    --verde-escuro: #003315;
    --turquesa: #005054;
    --azul: #00BAD6;
    --azul-escuro: #1B1464;
  }

/*-----------------------------------------------------------------------------------*/
/*Seção do site*/
main{
    height:max-content;
    position: relative;
    margin-bottom: 35px;
}

#titulo{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--amarelo);
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-size: 40px;

}

#subtitulo {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:var(--branco);
}

.conteudo details summary {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
   
}

#perguntas {
    color: var(--verde-escuro);
    height: 60px;
    display: flex;
    background-color: whitesmoke;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    padding: 10px;
    min-height: 50px;
    
}

#respostas {
    font-family:'Roboto', sans-serif;
    color: var(--verde-escuro);
    font-size: 18px;
    background-color: rgba(248, 248, 248, 0.6);
    font-size: 20px;
    text-align: justify;
    margin-left: 250px;
    margin-right: 250px;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.5px;
   
    
}

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: var(--verde-escuro);
    color: var(--branco);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

/* Media query para telas menores */

/*-------- PRIMEIRO TAMANHO DE TELA-----------*/

@media (max-width: 1400px) {
    #titulo {
        font-size: 30px;
    }
    #subtitulo {
        font-size: 18px;
    }
    #perguntas {
        text-align: center;
        font-size: 18px;
        margin-left: 300px;
        margin-right: 300px;
        height: 70px;
    }
    #respostas {
        font-size: 18px;
        margin-left: 300px;
        margin-right: 300px;
    }

}

/*-------- SEGUNDO TAMANHO DE TELA-----------*/

@media (max-width: 1050px) {

    #titulo {
        font-size: 25px;
    }
    #subtitulo {
        font-size: 16px;
    }
    #perguntas {
        text-align: center;
        font-size: 15px;
        margin-left: 150px;
        margin-right: 150px;
        height: 40px;
    }
    #respostas {
        font-size: 16px;
        margin-left: 150px;
        margin-right: 150px;
       
    }
    footer {
        font-size: 16px;
    }

}

/*-------- TERCEIRO TAMANHO DE TELA-----------*/

@media (max-width: 768px) {
    #titulo {
        font-size: 25px;
    }
    #subtitulo {
        font-size: 16px;
    }
    #perguntas {
        text-align: center;
        font-size: 15px;
        margin-left: 150px;
        margin-right: 150px;
        height: 50px;
        
    }
    #respostas {
        font-size: 16px;
        margin-left: 150px;
        margin-right: 150px;
    }
}

/*-------- QUARTO TAMANHO DE TELA-----------*/

@media (max-width: 600px) {
    #titulo {
        font-size: 20px;
    }
    #subtitulo {
        font-size: 16px;
    }
    #perguntas {
        text-align: center;
        font-size: 16px;
        margin-left: 50px;
        margin-right: 50px;
        height: 50px;
    }
    #respostas {
        font-size: 16px;
        margin-left: 50px;
        margin-right: 50px;
       
    }
}