/* Root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

:root {
    --branco: #FFFFFF;
    --laranja: #FF8800;
    --amarelo: #FFD23F;
    --verde: #75C200;
    --verde-escuro: #003315;
    --turquesa: #005054;
    --azul: #00BAD6;
    --azul-escuro: #1B1464;
  }

/*-----------------------------------------------------------------------------------*/
/* Header */
header {
    background-color: var(--verde-escuro);
    text-align: center;
}

/* Menu de navegação */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: var(--verde-escuro);
  
    img {
      height: 50px;
    }
  
    a {
      padding: 20px;
      color: var(--branco);
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 18px;
      transition: all 0.5s ease;
    }
    
    a:hover {
      background-color: var(--turquesa);
      color: var(--amarelo);
    }
}

/* Media query para smartphones */
@media (max-width: 1400px) {
    nav {
      justify-content: center;
      padding: 30px 0;
      gap: 20px;
      
      a {
        font-size: 16px;
        padding: 10px;
      }

      img {
        height: 30px;
      }
    }
}

@media (max-width: 1050px) {
    nav {
        justify-content: center;
        padding: 15px 0;
        gap: 10px;
    }

    nav a {
        font-size: 16px;
        padding: 10px;
    }

    nav img {
        height: 20px;
    }
}


@media (max-width: 768px) {
    nav {
      flex-direction: column;
      padding: 10px 5px;
      gap: 10px;
  
      a {
        font-size: 16px;
        padding: 10px;
      }

      img {
        height: 20px;
      }

    }
}

/*-----------------------------------------------------------------------------------*/
/* Primeira seção do site*/
.sobre {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    background-color: var(--verde-escuro);
    padding: 10px 10%;
    align-items: center;
}

h1 {
    text-align: left;
    color: var(--amarelo);
    font-size: 40px;
    background-color: var(--verde-escuro);
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    padding: 10px 10%;
}

.sobre h2 {

    flex: 1;
    color: var(--branco);
    font-size: 30px;
    font-family: 'montserrat', sans-serif;
    padding: 10px 0;
}

.sobre p {
    flex: 1;
    color: var(--branco);
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    text-align: justify;
    font-family: 'roboto', sans-serif;
    padding: 10px 0;
}

.sobre img {
    flex: 1;
}

.barra-colorida {
    background-color: var(--verde-escuro);
    width: 100%;
    padding: 10px 10%;
}

/* Media query para telas menores */
@media (max-width: 1400px) {
    .sobre {
        flex-direction: column;
        gap: 20px;
        padding: 20px 80px;
    }

    h1 {
        font-size: 32px;
        padding: 10px 0;
        text-align: center;
    }

    .sobre h2 {
        font-size: 1.5em;
    }

    .sobre p {
        font-size: 16px;
        line-height: 28px;
    }

    .sobre img {
        width: 100%;
        height: auto;
    }

    .barra-colorida {
        padding: 10px 5%;
    }
}


@media (max-width: 768px) {
    .sobre {
        flex-direction: column;
        gap: 20px;
        padding: 20px 45px;
    }

    h1 {
        font-size: 32px;
        text-align: center;
    }

    .sobre h2 {
        font-size: 1.5em;
        padding: 5px 0;
    }

    .sobre p {
        font-size: 14px;
        line-height: 28px;
    }

    .sobre img {
        width: 100%;
        height: auto;
    }

    .barra-colorida {
        padding: 10px 10%;
    }
}


/*-----------------------------------------------------------------------------------*/
/* Sobre os desenvolvedores */
.desenvolvedores h2 {
    color: var(--verde-escuro);
    font-size: 30px;
    font-family: 'montserrat', sans-serif;
    padding: 60px 10% 20px 10%;
}

.desenvolvedores p {
    color: black;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    text-align: justify;
    font-family: 'roboto', sans-serif;
    max-width: 950px;
    padding: 0 10%;
}

/* Grade 3x2 */
#desenvolvedoresGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px 10%;
}

/* Design dos box dos desenvolvedores*/

/* ------------------- Desenvolvedor 01 ------------------- */
.desenvolvedor01 {
    background-color: var(--verde);
    padding: 20px 10%;
    text-align: center;
}

.desenvolvedor01 h3 {
    font-family: 'montserrat', sans-serif;
    color: var(--verde-escuro);
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
}

.desenvolvedor01 h4 {
    font-family: 'montserrat', sans-serif;
    color: var(--verde-escuro);
    font-size: 16px;
    font-weight: 700;
}

.desenvolvedor01 p {
    font-family: 'roboto', sans-serif;
    color: black;
    font-size: 16px;
    padding-top: 10px;
}

/* ------------------- Desenvolvedor 02 ------------------- */
.desenvolvedor02 {
    background-color: var(--azul);
    padding: 20px 10%;
    text-align: center;
}

.desenvolvedor02 h3 {
    font-family: 'montserrat', sans-serif;
    color: var(--turquesa);
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
}

.desenvolvedor02 h4 {
    font-family: 'montserrat', sans-serif;
    color: var(--turquesa);
    font-size: 16px;
    font-weight: 700;
}

.desenvolvedor02 p {
    font-family: 'roboto', sans-serif;
    color: black;
    font-size: 16px;
    padding-top: 10px;
}

/* ------------------- Desenvolvedor 03 ------------------- */
.desenvolvedor03 {
    background-color: var(--verde);
    padding: 20px 10%;
    text-align: center;
}

.desenvolvedor03 h3 {
    font-family: 'montserrat', sans-serif;
    color: var(--verde-escuro);
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
}

.desenvolvedor03 h4 {
    font-family: 'montserrat', sans-serif;
    color: var(--verde-escuro);
    font-size: 16px;
    font-weight: 700;
}

.desenvolvedor03 p {
    font-family: 'roboto', sans-serif;
    color: black;
    font-size: 16px;
    padding-top: 10px;
}

/* ------------------- Desenvolvedor 04 ------------------- */
.desenvolvedor04 {
    background-color: var(--azul);
    padding: 20px 10%;
    text-align: center;
}

.desenvolvedor04 h3 {
    font-family: 'montserrat', sans-serif;
    color: var(--turquesa);
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
}

.desenvolvedor04 h4 {
    font-family: 'montserrat', sans-serif;
    color: var(--turquesa);
    font-size: 16px;
    font-weight: 700;
}

.desenvolvedor04 p {
    font-family: 'roboto', sans-serif;
    color: black;
    font-size: 16px;
    padding-top: 10px;
}

/* ------------------- Desenvolvedor 05 ------------------- */
.desenvolvedor05 {
    background-color: var(--verde);
    padding: 20px 10%;
    text-align: center;
}

.desenvolvedor05 h3 {
    font-family: 'montserrat', sans-serif;
    color: var(--verde-escuro);
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
}

.desenvolvedor05 h4 {
    font-family: 'montserrat', sans-serif;
    color: var(--verde-escuro);
    font-size: 16px;
    font-weight: 700;
}

.desenvolvedor05 p {
    font-family: 'roboto', sans-serif;
    color: black;
    font-size: 16px;
    padding-top: 10px;
}

/* ------------------- Desenvolvedor 06 ------------------- */
.desenvolvedor06 {
    background-color: var(--azul);
    padding: 20px 10%;
    text-align: center;
}

.desenvolvedor06 h3 {
    font-family: 'montserrat', sans-serif;
    color: var(--turquesa);
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
}

.desenvolvedor06 h4 {
    font-family: 'montserrat', sans-serif;
    color: var(--turquesa);
    font-size: 16px;
    font-weight: 700;
}

.desenvolvedor06 p {
    font-family: 'roboto', sans-serif;
    color: black;
    font-size: 16px;
    padding-top: 10px;
}

/*-----------------------------------------------------------------------------------*/

/* Estilos gerais do flip card */
.flip-card {
    background-color: transparent;
    width: 100%;
    height: auto;
    perspective: 1000px; /* Adiciona uma perspectiva para o efeito 3D */
    padding-bottom: 100px;
}
  
.flip-card-inner {
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-inner img {
    border: 5px solid white;
    border-radius: 100%;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); /* Gira o card ao passar o mouse */
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Oculta o lado traseiro quando não está visível */
}
  
.flip-card-front {
    background-color: var(--branco);
    color: black;
}
  
.flip-card-back {
    background-color: #f1f1f1;
    color: black;
    transform: rotateY(180deg); /* Gira o lado de trás em 180 graus */
}

/* Media Queries para Responsividade */
@media (max-width: 1200px) {
    .desenvolvedor01, .desenvolvedor02, .desenvolvedor03, .desenvolvedor04, .desenvolvedor05, .desenvolvedor06 {
        padding: 20px 5%;
    }

    .desenvolvedor01 h3, .desenvolvedor02 h3, .desenvolvedor03 h3, .desenvolvedor04 h3, .desenvolvedor05 h3, .desenvolvedor06 h3 {
        font-size: 18px;
    }

    .desenvolvedor01 h4, .desenvolvedor02 h4, .desenvolvedor03 h4, .desenvolvedor04 h4, .desenvolvedor05 h4, .desenvolvedor06 h4 {
        font-size: 16px;
    }

    .desenvolvedor01 p, .desenvolvedor02 p, .desenvolvedor03 p, .desenvolvedor04 p, .desenvolvedor05 p, .desenvolvedor06 p {
        font-size: 16px;
    }

    /* Ajuste de gap para layout de grid ou flexbox */
    #desenvolvedoresGrid {
        gap: 20px; /* Ajuste conforme necessário */
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (max-width: 768px) {
    .desenvolvedores h2 {
        font-size: 1.5em;
        padding: 40px 10% 20px 10%;
    }

    .desenvolvedores p {
        font-size: 14px;
        line-height: 20px;
        padding: 0 10%;
    }

    .desenvolvedor01, .desenvolvedor02, .desenvolvedor03, .desenvolvedor04, .desenvolvedor05, .desenvolvedor06 {
        padding: 15px 2%;
    }

    .desenvolvedor01 h3, .desenvolvedor02 h3, .desenvolvedor03 h3, .desenvolvedor04 h3, .desenvolvedor05 h3, .desenvolvedor06 h3 {
        font-size: 16px;
    }

    .desenvolvedor01 h4, .desenvolvedor02 h4, .desenvolvedor03 h4, .desenvolvedor04 h4, .desenvolvedor05 h4, .desenvolvedor06 h4 {
        font-size: 16px;
        padding: 5px 15px;
    }

    .desenvolvedor01 p, .desenvolvedor02 p, .desenvolvedor03 p, .desenvolvedor04 p, .desenvolvedor05 p, .desenvolvedor06 p {
        font-size: 14px;
        padding: 5px 15px;
    }

    /* Ajuste de gap para layout de grid ou flexbox */
    #desenvolvedoresGrid {
        gap: 10px; /* Ajuste conforme necessário */
        grid-template-columns: 1fr; /* Transforma em lista vertical */
    }
}

/*-----------------------------------------------------------------------------------*/
/* Contate-nos */
.contatenos {
    padding: 60px 10% 20px 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    
}

.contato01 {
    flex: 1;
}

.contato01 h2 {
    color: var(--verde-escuro);
    font-size: 30px;
    font-family: 'montserrat', sans-serif;
    padding: 20px 0;
}

.contato01 p {
    color: black;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    text-align: justify;
    font-family: 'roboto', sans-serif;
}

.contato01 img {
    width: 80px; 
    height: auto;
    padding: 10px 20px 0 0; 
}

.contato01 img:hover {
    transform: scale(1.1); 

}

/* Formulário */
.contato02 {
    flex: 1;
}

.contato02 form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contato02 input[type="text"], input[type="email"], textarea {
    padding: 5px;
    font-size: 16px;
    border: 3px solid var(--verde);
    width: 100%;
    height: auto;
    outline: none;
}

.contato02 label {
    font-size: 18px;
    font-family: 'roboto', sans-serif;
    color: var(--verde-escuro);
    font-weight: 700;
}

.contato02 button {
    width: 100%;
    max-width: 200px;
    padding: 20px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--branco);
    background-color: var(--laranja);
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.contato02 button:hover {
    background-color: var(--turquesa);
}

/* Media Queries para Responsividade */
@media (max-width: 1400px) {
    .contatenos {
        gap: 30px;
    }

    .contato01 h2, .contato01 p, .contato01 img {
        flex: 1 1 50%; 
    }

    .contato02 {
        flex: 1 1 50%;
    }
}

@media (max-width: 1050px) {
    .contatenos {
        gap: 30px;
    }

    .contato01 h2, .contato01 p, .contato01 img {
        flex: 1 1 15%; 
    }

    .contato02 {
        flex: 1 1 15%;
    }
}


@media (max-width: 768px) {
    .contatenos {
        flex-direction: column;
        gap: 20px;
        padding: 20px 10%;
    }

    .contato01 h2 {
        font-size: 1.5em;
    }

    .contato01 p {
        font-size: 14px;
        line-height: 20px;
    }

    .contato01 img {
        width: 60px;
        height: auto;
        margin: 10px 0;
    }

    .contato02 {
        flex: 1 1 100%;
    }

    .contato02 label {
        font-size: 14px;
    }

    .contato02 button {
        font-size: 16px; /* Exemplo de tamanho menor */
        padding: 8px 16px; /* Exemplo de padding menor */
    }

}

/*-----------------------------------------------------------------------------------*/
/* Repositório */
.repositorio {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin: 40px 10%;
    background-color: var(--verde);
    align-items: center;
    padding: 20px;
    justify-items: center; /* Alinha horizontalmente ao centro */
    align-items: center; /* Alinha verticalmente ao centro */
}

.repositorio h2 {
    color: var(--verde-escuro);
    font-size: 30px;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
}

.repositorio p {
    color: var(--verde-escuro);
    font-size: 18px;
    font-family: 'roboto', sans-serif;
    font-weight: normal;
    line-height: 20px;
}

.repositorio button {
    width: 100%;
    max-width: 200px;
    padding: 20px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--branco);
    background-color: var(--laranja);
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.repositorio button a {
    color: inherit;
    text-decoration: none;
}

.repositorio button:hover {
    background-color: var(--turquesa);
}

/* Media Queries para Responsividade */
@media (max-width: 1400px) {
    .repositorio {
        gap: 30px;
    }

    .repositorio h2, .repositorio p, .repositorio button {
        flex: 1 1 50%; 
    }
}

@media (max-width: 768px) {
    .repositorio {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
        gap: 20px; 
    }

    .repositorio h2 {
        font-size: 1.5em;
        padding: 5px 5%;
    }

    .repositorio button {
        flex: 1 1 100%;
        font-size: 16px; /* Exemplo de tamanho menor */
        padding: 8px 16px; /* Exemplo de padding menor */
        
    }

    .repositorio p {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
    }
}

/*-----------------------------------------------------------------------------------*/
/* Footer */
footer {
    background-color: var(--verde-escuro);
    width: 100%;
    text-align: center;
    color: var(--branco);
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

@media (max-width: 768px) {
    footer {
        font-size: 14px;
    }
}